#inner {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -100%);
	position: absolute;
}

h1 {
	font-weight: 700;
	font-style: italic;
	font-size: 72px;
	color: #FFA719;
	text-shadow: -5px 5px #002D9F;
}

.button {
	margin: 10px 80px 10px 80px;
}

img {
	width: 100%;
	margin: auto;
	z-index: -1;
	margin-top: 30%;
}

@media (min-width: 768px) {
	img {
		margin-top: 0;
		width: 90%;
	}

	#inner {
		transform: translate(-50%, -50%);
	}
}

@media (min-width: 992px) {
	img {
		width: 80%;
	}
}

@media(min-width: 1200px) {
	img {
		width: 60%;
	}
}