form {
	width: 27%;
	margin: auto;
}

#inner {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

input {
	font-family: 'Lato', sans-serif;
	height: 30px;
}

p {
	display: inline-block;
	font-size: 18px;
	margin-right: 15px;
}

button {
	margin: 2% 10% 5% 10%;
}