.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
    width: 25%;
}

.nav li a {
    display: block;
    color: #06B3EA;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition: color 0.5s;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    color: #FFA719;
}
